@{
    ViewBag.Title = "About";
}


<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">

    <div style="background-image: url(/Images/about.jpg); width:100%; height:450px;opacity:0.4" class="container">

        <h1 style="color:#145214; font-size:60px;" class="text-center"><b class="animated fadeInUp">WE WANT TO</b><br /><b class="animated fadeInUp">HELP & MOTIVATE YOU</b> </h1>
    </div>
    <div class="text-center">
        <br />
        <h4>
            IF YOU ARE READY TO CHANGE YOUR LIFESTYLE FOR THE BETTER YOU HAVE COME TO THE RIGHT PLACE!<br />
        </h4>
    </div>

    <br />
    <h3 style="color:white;font-size:30px">About us</h3>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <p style="font-family:Britannic">
                My Workout Tracker app is allowing you to join a community of people
                across the world who are transforming their bodies. With the free subscription we offer, you can use the app
                to follow daily gym-based or targeted workouts based on the specific areas  of your body that you want to train.You can also make your own daily meal plans as well as choose already made meal plans by professionals, depending on whether
                you like to lose weight or gain mussle etc.. Consistency is key.
            </p>
        </div>
        <div class="col-lg-6">
            <p style="font-family:Britannic">If you would like to contact us for more information you can find our emails <a href="Contact">here</a></p>

        </div>
    </div>



</body>
<div></div>