@{
    ViewBag.Title = "Contact";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">

    
   
    <div class="row">
        <div class=" col-lg-4">
            </div>
        <div class="col-lg-6">
            <h1  class="text-success">@ViewBag.Title:</h1>
            <address style="color:white; font-size:25px;">
               <span style="font-family:fantasy; font-size:35px;" class="animated zoomInDown"> City Gym</span><br />
                <b>Strumica, Mara Minanova 2</b><br />

            </address>
            <div style="font-size:20px;"><i class="glyphicon glyphicon-time"></i><b> Working hours:</b><br />
            <span>Monday-Satudray: 10am - 10pm</span><br />
            <span>Sunday: 4pm - 10pm </span>
             </div>
            <br />
            <address>

                <i style="color:#145214;font-size:20px;" class="glyphicon glyphicon-envelope"></i> <a style="color:#145214; font-size:20px;" href="#">ljubica.boneva@gmail.com</a><br />
                <i style="color:#145214;font-size:20px;" class="glyphicon glyphicon-envelope"></i> <a style="color:#145214; font-size:20px;" href="#">sanja.puskarova@gmail.com</a>
            </address>
            <br />
            <div style="margin-top: 15px; margin-bottom:15px;">
                <img src="~/Images/Logo.jpg" class="text-center img-thumbnail" style="width: 50%; border-radius:50%;" />
            </div>
        </div>
        <div class="col-lg-2">
           
        </div>
    </div>
    <br /><br /><br />
</body>