@model MyWorkoutTracker.Models.Exercise

@{
    ViewBag.Title = "Description";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">
    <h1 class="text-success text-center">@Model.Name</h1>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Images/Exercises/@Model.PicUrl" style="width:90%; height:320px;" class="img-thumbnail animated bounce" />
        </div>
        <div class="col-lg-6">
            <div style="color:#145214; font-family:fantasy; font-size:30px">How to do it: </div>    <div class="form-control" style="background-color:dimgrey; font-size:20px; color:white;height:100%">@Model.Description</div>
            
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            @Html.ActionLink("Back to my profile", "Details", "People", new { id = Session["ID"] }, new { @class = "btn btn-success" })
        </div>
    </div>
   
    <br /><br /><br />
</body>
