@model MyWorkoutTracker.Models.Exercise

@{
    ViewBag.Title = "Description";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">
    <h1 class="text-success text-center">@Model.Name</h1>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <img src="~/Images/Exercises/@Model.PicUrl" style="width:90%; height:320px;" class="img-thumbnail" />
        </div>
        <div class="col-lg-6">
            <div class="form-control" style="background-color:dimgrey; color:white;height:100%">@Model.Description</div>
            @Html.ActionLink("Back to my profile", "Details", "People", new { id = Session["ID"] }, new { @style = "color:#145214;" })
        </div>
    </div>
  

</body>
