@model IEnumerable<MyWorkoutTracker.Models.Exercise>
@{
    ViewBag.Title = "Exercise";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">


    <div class="row" style="padding-top:25px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-4" style="padding-bottom:25px;">
                <div class="card img-rounded" style="width: 30rem; padding:15px; background-color:dimgrey; border:solid; border-color:#145214">
                    <div class="card-header" style="color:white">
                        <h4> @item.Name</h4>
                    </div>
                    <br />
                    <img style="width:100%" class="card-img-top img-rounded" src="~/Images/picture1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <br />
                        <p class="card-text" style="color:white">Quick sample text to create the card title and make up the body of the card's content.</p>
                        <div>
                            <input onclick="change(this)" value="Add" type="button" id="btnAddProfile" class="btn btn-success js-add" data-exercise-id="@item.id">
                            <label id="successmessage"></label>
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>

    @using (Html.BeginForm("Exercise", "Exercises"))
    {
        <input type="submit" class="btn btn-success" />


    }



</body>
@section scripts{

    <script>

        $(document).ready(function () {
            $(".js-add").on("click", function () {
                var button = $(this);
                //bootbox.confirm("Add to your list?", function (result) {
                //    if (result) {
                $.ajax({
                    url: "/Exercises/Add/" + button.attr("data-exercise-id"),
                    method: "GET",
                    success: function () {
                            //button.attr('disabled', true);
                    }
                });
                //    }
                //});
            });
        });


    </script>
    @*<script type="text/javascript">
        function change(value) {

            if (value.innerHTML == "Add") value.innerHTML = "Added";
            else value.innerHTML = "Add";
        }
    </script>*@
}