@model IEnumerable<MyWorkoutTracker.Models.Exercise>
@{
    ViewBag.Title = "Exercise";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">


    <div class="row" style="padding-top:25px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-4" style="padding-bottom:25px;">
                <div class="card img-rounded" style="width: 30rem; padding:15px; background-color:dimgrey; border:solid; border-color:#145214">
                    <div class="card-header" style="color:white">
                        <h4> @item.Name</h4>
                    </div>
                    <br />
                    <img style="width:100%" class="card-img-top img-rounded" src="~/Images/picture1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <br />
                        <p class="card-text" style="color:white">Quick sample text to create the card title and make up the body of the card's content.</p>
                        <div>
                            <input onclick="change(this)" value="Add" type="button" id="Add" class="btn btn-success js-add" data-exercise-id="@item.id">
                           
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>

    @using (Html.BeginForm("Exercise", "Exercises"))
    {
        <input type="submit" class="btn btn-success" />


    }



</body>
@section scripts{

    <script>

        $(document).ready(function () {
            $(".js-add").on("click", function () {
                var button = $(this);
                
                $.ajax({
                    url: "/Exercises/Add/" + button.attr("data-exercise-id"),
                    method: "GET",
                    success: function () {
                        
                    }
                });
                
            });
        });


    </script>
    <script type="text/javascript">
        function change(selected) {
            selected.value = (selected.value == 'Add') ? ('Added') : ('Add')
            $(selected).fadeTo('fast', 0.2);
            $(selected).attr('disabled', true);
                
        }
    </script>
    @*<style type="text/css">
        .add {
            color: blue;
        }
    </style>*@

}